# CODEOWNERS
# 각 경로 변경 시 반드시 해당 오너의 승인 필요

# config, workflows, CODEOWNERS는 스터디장만 수정 가능
/.github/         @jaehee-jeon
/config/          @jaehee-jeon
/CODEOWNERS       @jaehee-jeon
/template/        @jaehee-jeon

# 각 멤버는 본인 폴더만 수정 가능
/jaeheejeon/          @jaehee-jeon
#/김은향/          @github-id-2
#/김석영/          @github-id-3
#/김예찬/          @github-id-4
#/이준석/          @github-id-5
#/임치영/          @github-id-6
#/황선주/          @github-id-7
